# ============================================================================================================================
# РЕГИСТРАЦИЯ СИСТЕМНОЙ КОНСОЛЬНОЙ КОМАНДЫ LINUX (ОБОЛОЧКА SHELL)
# ============================================================================================================================
[gcode_shell_command hello_world]
command: echo hello world                                        # 🖥️ Выполняемый bash-скрипт или системная команда в ОС Linux
timeout: 2.                                                      # ⏳ Максимальное время ожидания завершения команды (в секундах)
verbose: True                                                    # 💬 Вывод детального лога выполнения команды в консоль Klipper
# ============================================================================================================================
# СЛУЖЕБНЫЙ МАКРОС: ТЕСТОВЫЙ ЗАПУСК КОНСОЛЬНОЙ КОМАНДЫ В КЛИППЕРЕ
# ============================================================================================================================
[gcode_macro HELLO_WORLD]
description: Тестовый запуск внешней shell-команды Linux через веб-интерфейс принтера
gcode:
    # --- ⚙️ 1. Отправка команды в терминал операционной системы ---
    RUN_SHELL_COMMAND CMD=hello_world                            # 🚀 Безопасный вызов зарегистрированной скриптовой команды
