##################################################################################################################################
#                                               X-ось MOTOR_0 (B Мотор)
##################################################################################################################################
#
[stepper_x]
step_pin: PE6                            # 📌 GPIO pin шагового двигателя (высокий уровень срабатывания)
dir_pin: PE5                             # 🔄 Направление вращения двигателя (!-знак меняет направление двигателя)
enable_pin: !PC14                        # 🔌 Pin-включение двигателя (не трогать "!")
microsteps: 32                          # 🔢 Количество микрошагов на один шаг двигателя
rotation_distance: 40                    # 📏 Длина окружности шкива в мм (шкив 2GT-20T: 40, шкив 2GT-16T: 32)
full_steps_per_rotation: 200             # ⚙️ Импульсов на оборот (двигатель 1.8°: 200, двигатель 0.9°: 400)
endstop_pin: tmc2240_stepper_x:virtual_endstop # 🛑 Пин концевого выключателя (используется Sensorless Homing)
position_min: -22                        # 📉 Минимальное положение печатающей головки по оси (в мм)
position_endstop: -22                    # 🎯 Расположение концевого упора (в мм)
position_max: 450                        # 📈 Максимальное положение печатающей головки по оси (в мм)
homing_speed: 50                         # 🏎️ Скорость движения при перемещении печатающей головки в положение "Дом"
homing_retract_dist: 0                   # 🛫 Отскок печатающей головки после определения концевого выключателя
homing_positive_dir: false               # 🧭 Направление поиска дома (true — к максимуму, false — к минимуму)
#
##################################################################################################################################
#                                               Y-ось MOTOR_1（A Мотор）
##################################################################################################################################
#
[stepper_y]
step_pin: PE2                            # 📌 GPIO pin шагового двигателя (высокий уровень срабатывания)
dir_pin: !PE1                            # 🔄 Направление вращения двигателя (!-знак меняет направление двигателя)
enable_pin: !PE4                         # 🔌 Pin-включение двигателя (не трогать "!")
microsteps: 32                          # 🔢 Количество микрошагов на один шаг двигателя
rotation_distance: 40                    # 📏 Длина окружности шкива в мм (шкив 2GT-20T: 40, шкив 2GT-16T: 32)
full_steps_per_rotation: 200             # ⚙️ Импульсов на оборот (двигатель 1.8°: 200, двигатель 0.9°: 400)
endstop_pin: tmc2240_stepper_y:virtual_endstop # 🛑 Пин концевого выключателя (используется Sensorless Homing)
position_min: -22.5                      # 📉 Минимальное положение печатающей головки по оси (в мм)
position_endstop: -22.5                  # 🎯 Расположение концевого упора (в мм)
position_max: 450                        # 📈 Максимальное положение печатающей головки по оси (в мм)
homing_speed: 50                         # 🏎️ Скорость движения при перемещении печатающей головки в положение "Дом"
homing_retract_dist: 0                   # 🛫 Отскок печатающей головки после определения концевого выключателя
homing_positive_dir: false               # 🧭 Направление поиска дома (true — к максимуму, false — к минимуму)
#
##################################################################################################################################
#                                                             Ось Z 
##################################################################################################################################
#
[stepper_z]
step_pin: PB8                            # 📌 GPIO pin шагового двигателя (высокий уровень срабатывания)
dir_pin: PB7                             # 🔄 Направление вращения двигателя (!-знак меняет направление двигателя)
enable_pin: !PE0                         # 🔌 Pin-включение двигателя (не трогать "!")
rotation_distance: 8                     # 📏 Шаг винта/ремня оси Z на один оборот в мм (для винта T8 обычно 8)
full_steps_per_rotation: 200             # ⚙️ Импульсов на оборот (двигатель 1.8°: 200, двигатель 0.9°: 400)
microsteps: 32                           # 🔢 Количество микрошагов на один шаг двигателя
endstop_pin: probe:z_virtual_endstop     # 🛑 Виртуальный концевой выключатель (используется датчик Eddy Tap)
position_max: 495                        # 📈 Максимальное положение печатающей головки по оси (в мм)
position_min: -50                        # 📉 Минимальное положение печатающей головки по оси (в мм)
homing_speed: 8                          # 🏎️ Скорость первого быстрого перемещения в положение "Дом"
second_homing_speed: 3                   # 🏎️ Скорость точного повторного перемещения в положение "Дом" (в мм/с)
homing_retract_dist: 5                   # 🛫 Отскок печатающей головки вверх перед вторым точным замером (в мм)
#
##################################################################################################################################
#                                                           X-ось  
##################################################################################################################################
#
[tmc2240 stepper_x]
cs_pin: PC13                             # 📌 Пин выбора чипа (Chip Select) для SPI-управления драйвером
spi_software_sclk_pin: PG8               # 🔌 Программный пин тактовой частоты шины SPI (SCLK)
spi_software_mosi_pin: PG6               # 🔌 Программный пин передачи данных шины SPI (MOSI)
spi_software_miso_pin: PG7               # 🔌 Программный пин приема данных шины SPI (MISO)
interpolate: True                        # 🔢 Интерполяция (драйвер делает внутренние шаги со скоростью 256 микрошагов)
run_current: 0.8                         # ⚡ Значение рабочего тока двигателя в Амперах (0.8А = 800мА)
stealthchop_threshold: 99999             # 🤫 Порог скорости (в мм/с) для включения бесшумного режима stealthChop
diag0_pin: ^!PF4                         # 🛑 Пин аппаратной диагностики с подтяжкой для безконцевого поиска дома
driver_SGT: 2                            # 📊 Порог чувствительности StallGuard для TMC2240 (от -64 до 63)
##################################################################################################################################
#                                                           Y-ось 
##################################################################################################################################
#
[tmc2240 stepper_y]
cs_pin: PE3                              # 📌 Пин выбора чипа (Chip Select) для SPI-управления драйвером
spi_software_sclk_pin: PG8               # 🔌 Программный пин тактовой частоты шины SPI (SCLK)
spi_software_mosi_pin: PG6               # 🔌 Программный пин передачи данных шины SPI (MOSI)
spi_software_miso_pin: PG7               # 🔌 Программный пин приема данных шины SPI (MISO)
interpolate: True                        # 🔢 Интерполяция (драйвер делает внутренние шаги со скоростью 256 микрошагов)
run_current: 1.6                         # ⚡ Значение рабочего тока двигателя в Амперах (1.6А = 1600мА)
stealthchop_threshold: 99999             # 🤫 Порог скорости (в мм/с) для включения бесшумного режима stealthChop
diag0_pin: ^!PF3                         # 🛑 Пин аппаратной диагностики с подтяжкой для безконцевого поиска дома
driver_SGT: 3                            # 📊 Порог чувствительности StallGuard для TMC2240 (от -64 до 63)

##################################################################################################################################
#                                                           Z-ось
##################################################################################################################################
#
[tmc2209 stepper_z]                       
uart_pin: PB9                            # 📌 Коммуникационный порт привода UART
interpolate: True                        # 🔢 Интерполяция (драйвер делает внутренние шаги со скоростью 256 микрошагов)
run_current: 0.8                         # ⚡ Значение рабочего тока двигателя в Амперах (0.8А = 800мА)
sense_resistor: 0.110                    # ⚙️ Измерительный резистор привода (не менять значение)
stealthchop_threshold: 120               # 🤫 Порог скорости (в мм/с) для включения бесшумного режима stealthChop
#
